#hero {
    background-image: url(assets/cat-big.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

#custom_animation {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: jumper;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes jumper {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}